@page "/"
@using SampleApiUi.Model
@inject HttpClient http;

<PageTitle>Courses</PageTitle>

<h1>All Courses</h1>
@if(courses is not null)
{
    foreach (var course in courses)
    {
        <a href="@course.CourseUrl">
            <img width="300", src="@course.CourseImage"/>
        </a>
    }
}

@code {
    private List<CourseModel>? courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await http.GetFromJsonAsync<List<CourseModel>>("https://localhost:7209/courses");
    }
}